<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">  
  <div class="row form-group" >
      <div class="col-md-6">
        <label for="descricao">Descrição</label>
        <input type="text" formControlName="descricao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }" />
      </div>
  </div>
  <div class="form-group">
    <button class="btn btn-outline-primary btn-lg">Buscar</button>&nbsp;
    <button type="reset" class="btn btn-outline-danger btn-lg">Limpar</button>
  </div>
</form>

<table class="table">
  <thead class="thead-light">
    <tr class="text-center">
      <th scope="col">Descrição</th>
      <th scope="col">Tempo previsto</th>
      <th scope="col">Valor</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let job of jobs | paginate: { id: 'server', itemsPerPage: 10, currentPage: pagination.page, totalItems: pagination.totalItems }">
      <td>{{job.Descricao}}</td>
      <td>{{job.TempoPrevisto}}</td>
      <td>{{job.Valor}}</td>
      <td>
        <button (click)="edit(job.Id)" class="btn btn-sm btn-outline-info">
          <span class="fa fa-edit">
          </span>
        </button>&nbsp;
        <button (click)="confirmDelete(content, job.Id)" class="btn btn-sm btn-outline-info">
            <span class="fa fa-trash">
            </span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center">
    <pagination-controls 
    (pageChange)="getPage($event)" 
    id="server"
    previousLabel=""
    nextLabel=""
    >
    </pagination-controls>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-light">
      <h4 class="modal-title">Confirmação</h4>
    </div>
    <div class="modal-body">
      <p>Confirma a exclusão?</p>
    </div>
    <div class="modal-footer">
      <button (click)="delete();" class="btn btn-outline-success">Sim</button>
      <button (click)="c()" class="btn btn-outline-danger">Não</button>
    </div>
</ng-template>

